.LoginFormCOntainer>div:first-child {
    width: 65%;
}

.LoginFormCOntainer>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}

.LoginFrom {
    height: 100dvh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    width: 35%;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.725);
}

.LoginFrom>div {
    width: 100%;
}

.LoginPasswordInput {
    position: relative;
}

.showPasswordIcon {
    position: absolute;
    right: 4%;
    cursor: pointer;
    opacity: .7;
}

@media screen and (max-width : 1100px) {
    .LoginFormCOntainer>div{
        display: none;
    }
    .LoginFrom {
        width: 80% !important;
        align-items: center;
        justify-content: center;
        box-shadow: none !important;
    }
    .LoginFrom>div {
        width: 80% !important;
    }
}
@media screen and (max-width : 700px) {
    .LoginFrom , .LoginFrom>div{
        width: 100% !important;
    }
}