.Menu {
    width: 25%;
    height: 100%;
    padding: 30px;
}

.userSetting , .userSetting img {
    cursor: pointer;
}

.userSettingBox {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: antiquewhite;
    right: 0;
}

.UserInfoSegment p {
    word-wrap: break-word;
    margin: 0;
}

.userFullName {
    font-size: 25px;
    text-transform: capitalize;
    max-width: 65%;
    padding-left: .5rem;
    font-weight: 600;
}

.userFunction {
    text-transform: capitalize;
    font-size: 13px;
}

.userCompany {
    opacity: .7;
    font-size: 15px;
    width: 70%;
    word-wrap: break-word;
}

.navLinks {
    overflow-y: auto;
    height: 70%;
}

.navLinks>ul {
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

.navLinks>ul>li {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    transition: .2s;
    border-radius: 5px;
    margin-bottom: 10px;
}

.navLinks>ul>li a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 10px 0;
}

.subNavLinks {
    width: 80%;
    margin: 5px 0;
}

.subNavLinks>li {
    padding: 5px;
    font-size: 15px;
    text-decoration: underline;
    font-weight: lighter;
    transition: .2s;
    border-radius: 5px;
    list-style-type: none;
}

.subNavLinks>li a {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

.activeLink , .navLinks>ul>li:hover {
    background-color: #00aad9;
}
.activeSubLink , .subNavLinks>li:hover {
    background-color: #0077bb;
}