.App {
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
}

.color_blue_text {
  color: #0080cb;
}
.color_blue_text:hover {
  color: #00509a;
}

.color_red_text {
  color: #f7568d;
}
.color_red_text:hover {
  color: #fe206a;
}

.bg_blue {
  background-color: #7bcdfd;
  transition: 0.3s;
}
.bg_blue:hover {
  background-color: #3398f6;
}

.bg_blue_button {
  background-color: #0080cb;
  color: white;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
  transition: 0.3s background-color;
  text-decoration: none;
}
.bg_blue_button:hover {
  background-color: #006acb;
}

.bg_red_button {
  background-color: #f7568d;
  color: white;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
  transition: 0.3s background-color;
  text-decoration: none;
}
.bg_red_button:hover {
  background-color: #fe3175;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddModForms {
  width: 50%;
}

@media screen and (max-width: 1100px) {
  .AddModForms {
    width: 75%;
  }
}
@media screen and (max-width: 740px) {
  .AddModForms {
    width: 100%;
  }
}

@media print {
  .noPrin {
    display: none;
  }
  .billToPrint,
  .billsToPrint {
    width: 100% !important;
  }

  .billsToPrint {
    page-break-before: always; /* Start each bill on a new page */
    break-before: page;
    height: 70%;
  }
}
